@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/static/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
}


@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/static/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
