.keyboard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 50px auto 0;
  text-align: center;
  user-select: none;

  &__line {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
  }

  &__key {
    padding: 8px;
    border-radius: 10px;
    border: 2px solid transparent;
  }

  &__key_active {
    border-radius: 10px;
    border: 2px solid #666;
    box-shadow: #666 0 3px 0;
    padding: 6px 8px 10px;
  }

  &__hands {
    position: absolute;
    top: 40%;
    left: 12%;
  }
}
