@import '../../../assets/styles/variables';

.button {
  display: flex;
  padding: 10px;
  color: black;
  background-color: transparent;
  border-radius: 10px;
  width: 100%;

  transition: all .1s;

  border: 4px solid transparent;

  &:hover {
    border: 4px solid $white-blue;
    box-shadow: $white-blue 0 5px 0;
    padding: 7px 10px 13px;
  }
}
