@import "./src/assets/styles/variables";

@mixin button {
  padding: 5px 10px;
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-radius: 8px;

  &:hover {
    margin: 2px 0 0 2px;
    border-width: 2px;
  }
}

@mixin addInput {
  width: 100%;
  background-color: #f3f4ff;
  border-color: #a6b1ff;
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-radius: 10px;
  font-size: 24px;
}

.workshop {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $grey-blue;
    padding: 0 0 20px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 26px;
  }

  &__headerButton {
    @include button;
    background-color: #ffe472;
    border-color: #ffb700;
    font-size: 22px;

    &:hover {
      margin: 2px 0 0 2px;
      border-width: 2px;
    }
  }

  &__button_update {
    @include button;
    border-color: #bcc4ff;
    background-color: #e0e5ff;
  }
  &__button_delete{
    @include button;
    border-color: #ff6c6c;
    background-color: #ffcaca;
  }
}

.exercises {
  &__item {
    display: grid;
    grid-template-columns: 1fr 7fr 120px 120px;
    grid-gap: 10px;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #bcc4ff;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      background-color: #eaecff;
    }
  }
}


.create {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__name {
    @include addInput;
    padding: 5px 10px;
  }

  &__textWrapper {
    position: relative;
    width: 100%;

    span {
      position: absolute;
      bottom: 10px;
      right: 20px;
      color: #a6b1ff;
      user-select: none;
    }
  }

  &__text {
    @include addInput;
    padding: 10px;
    resize: vertical;
    min-height: 400px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__addButton {
    @include button;
    background-color: #f3f4ff;
    border-color: #a6b1ff;
    font-size: 20px;
  }
}
